* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#calculator {
  width: 440px;
  border-radius: 2px;
  height: 290px;
  padding: 20px 0 0 10px;
  background: #313544;
  margin: 10px auto;
  border-bottom: 15px solid #dfdfdf;
}
.result {
  width: 301px;
  border-radius: 2px;
  padding-left: 10px;
  margin: 0 13px 0 6px;
  background: #878787;
  color: #fff;
  height: 40px;
  border: 1px solid #f5e7e3;
  float: left;
  line-height: 40px;
}
.clear,
span {
  height: 40px;
  border: 1px solid #666;
  text-align: center;
  line-height: 40px;
  float: left;
  width: 95px;
  cursor: pointer;
}
.clear {
  background: #aecc94;
  border-radius: 5px;
}
span {
  margin: 5px;
  background: #f5e7e3;
  border-radius: 5px;
}


