#counter-container {
  text-align: center;
  border: 1px solid #eee;
  background: #203737;
  font-family: 'Lato', sans-serif;
  padding-bottom: 40px;
}
#counter-header{
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: #7cb3b3;
  font-size: 70px;
  margin: 40px 0px;
}
.unit {
  display: inline-block;
  border: 1px solid #fff;
  width: 11%;
  margin-right: 10px;
}
.days,
.hours,
.minutes,
.seconds {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 44px;
}
h1 {
  color: #7cb3b3;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
